body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 80vh;
    width: 60vw;
    background-color: #161A30;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textMin{
    margin-bottom: -30px;
    margin-left: -400px;
    color: #1f53d5;
}

#minutesInput{
    height: 5vh;
    width: 35vw;
    background-color: #1b1b34;
    color: white;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#countdown {
    font-size: 2em;
    margin-top: 25px;
    color:#6071ef;
}

input, button {
    margin: 10px;
    padding: 5px;
    font-size: 1em;
}

.button_counter{
    display: flex;
}

button {
    cursor: pointer;
}
#playBtn {
    width: 5vw;
    height: 10vh;
    background-image:url("icons8-play-button-47.png.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}